html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#map-canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 270px;
}
#map-layer-switcher {
  position: absolute;
  z-index: 999999;
  top: 10px;
  right: 280px;
}
#map-layer-switcher .goog-menuitem {
  padding: 4px 7em 4px 28px;
}
#toolbar {
  position: absolute;
  width: 270px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  box-shadow: -2px 0px 4px;
  background-color: #F2F2F2;
  overflow-y: scroll;
  overflow-x: hidden;
}
#info {
  width: 220px;
  padding: 20px 0 0 20px;
  margin: 0;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #595959;
}
#nominatim {
  padding-left: 20px;
}
#nominatim-label {
  padding: 20px 0 5px 20px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #595959;
}
#menu-top {
  padding: 0;
}
.ol-create-bbox {
    top: 3em;
    right: .5em;
}
.ol-create-bbox .ol-has-tooltip:focus [role=tooltip],.ol-create-bbox .ol-has-tooltip:hover [role=tooltip] {
    right:2.2em;
    left:auto;
    border-radius:4px 0 0 4px;
    border-left-width:3px;
    border-right-width:0
}
.ol-create-bbox.ol-activated button {
    background-color: rgba(245, 184, 0, 0.5);
}

.ol-create-bbox.ol-disabled button {
    background-color: rgba(179, 179, 179, 0.5);
}
.olControlLayerSwitcher {
    top: 45px !important;
}
#bboxDialogGraphic {
    position: absolute;
    left: 50px;
    top: 110px;
    right: 50px;
    bottom: 110px;
    border: 1px solid #3366FF;
}
#bboxDialogLT {
    position: absolute;
    left: 10px;
    top:50px;
}
#bboxDialogRB {
    position: absolute;
    right: 10px;
    bottom:50px;
}
#loading-overlay {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100000;
    background-image:url('/img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position:center;
    background-color: white;
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=70);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.7;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.7;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.7;
}
.goog-image-button-redo, .goog-image-button-undo {
  margin-left: 5px;
}
.goog-menubar {
  outline: none;
}
