.goog-menu-label {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  color: #595959;
  width: 100%;
  padding: 10px 0 10px 20px;
  background-color: #FFFFFF;
  border-top: 1px solid #c7c7c7;
}
